.flexcontainer {
    display: flex;
    flex-direction: column;
}

body {
    margin: 20px, 50px, 75px;
    padding: 4px;
}


li {
    display: inline-block;
    vertical-align: top;
    align-content: flex-end;
    outline: red;
}

#UX {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Illustrations {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Characters {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#About {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {    
    width: 73%;
    padding: 1%;
    align-content: flex-start;
    outline: red;
}

.splashPage {
    background-color: black;
    margin: 25px, 50px, 100px;
    flex-direction: column;
    outline: red;
}

#nikolasRivera {
    height: 20%;
    width: 25%;
    display: block;
    float: right;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 90px;
    outline: red;
}

#uxDesigner {
    color: white;
    float: right;
    display: inline;
    width: 15%;
    font-size: 48px;
    align-items: flex-start;
    justify-content: flex-end;
    outline: red;
}

#illustrator {
    color: white;
    float: right;
    display: inline;
    font-size: 48px;
    width: 15%;
    align-items: flex-start;
    justify-content: flex-end;
    outline: red;
}

#slogan {
    height: 45%;
    width: 50%;
    font-size: 20px;
    color: white;
    float: right;
    display: inline-block;
    outline: red;
}

img [alt~="Logo"] {
    display: block;
    height: 300%;
    padding: 25px;
    background-color: white;
    align-items: flex-start;
    display: block;
    outline: red;
}

h1 {
    font-family: 'Arial Narrow Bold', Impact, sans-serif;
    font-size: 100px;
    outline: red;
}

h2 {
    font-family: sans-serif bold;
    font-size: 85px;
    outline: red;
}

p {
    font-family: sans-serif;
    font-size: 58px;
    outline: red;
}


button [alt~="photoshopButton"] {
    float: right;
    display: block;
    background-color: black;
    outline: red;
}

button [alt~="linkedinButton"] {
    background-color: black;
    display: block;
    float: right;
    outline: red;
}

button [alt~="behanceButton"] {
    background-color: black;
    display: block;
    float: right;
    outline: red;
}

.content {
    width: 50%;
    float: left;
    display: block;
    align-items: center;
    justify-content: flex-start;
    outline: red;
}

img [alt~="profilePicture"] {
    float: right;
    display: inline-block;
    align-items: center;
    justify-content: flex-end;
    outline: red;
}

.MySkills {
    background-color: black;
    margin: 25px, 50px,75px;
}

.userResearch1 {
    color: white;
    float: left;
    align-items: flex-start;
    justify-content: flex-start;
    outline: red;
}

.userEmpathy1 {
    color: white;
    float: center;
    align-items: flex-start;
    justify-content: center;
    outline: red;
}

.qualitativeInterviews1 {
    color: white;
    float: right;
    align-items: flex-start;
    justify-content: flex-end;
    outline: red;
}

.userResearch {
    color: white;
    float: left;
    align-items: center;
    justify-content: flex-start;
    outline: red;
}

.userEmpathy {
    color: white;
    float: center;
    align-items: center;
    justify-content: center;
    outline: red;
}

.qualitativeInterviews {
    color: white;
    float: right;
    align-items: center;
    justify-content: flex-end;
    outline: red;
}

.Tools {
    background-color: black;
    margin: 25px, 50px;
}

.adobeCc {
    color: white
    outline: red;
}

img [alt~="photoshopImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="indesignImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="illustratorImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="xdImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="skillBar1"] {
    margin-left: 0 auto;
    outline: red;
}

.googleSuites {
    color: white;
    outline: red;
}

img [alt~="googleDrive"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleExcel"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleDocs"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleSlides"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleForms"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="skillBar2"] {
    float: left;
    outline: red;
}

.miro {
    color: white;
    float: right;
    outline: red;
}

img [alt~="skillBar3"] {
    float: right;
    outline: red;
}

.figma {
    color: white;
    float: right;
    outline: red;
}

img [alt~="skillBar4"] {
    float: right;
    outline: red;
}

.procreate {
    color: white;
    float: right;
    outline: red;
}

img [alt~="skillBar5"] {
    float: right;
    outline: red;
}

.Projects {
    background-color: white;
    margin: 25px, 50px,75px;
    outline: red;
}

button [alt~="illustrationsButton"] {
    float: left;
    background-color: white;
    outline: red;
}

button [alt~="xdButton"] {
    float: center;
    background-color: white;
    outline: red;
}

button [alt~="charactersButton"] {
    float: right;
    background-color: white;
    outline: red;
}

.Contact {
    background-color: black;
    margin: 25px, 50px,75px;
    outline: red;
}

.titleContact {
    color: white;
    outline: red;
}

.name {
    color: gray;
    border-color: white;
    outline: red;
}

.email {
    color: gray;
    border-color: white;
    outline: red;
}

.description {
    color: gray;
    border-color: white;
    outline: red;
}

