* {
    border: 1px solid red;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
}

body {
    margin: 20px, 50px, 75px;
    padding: 4px;
}

nav {    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 50px;
    align-items: inherit;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    color: black;
    justify-content: space-between;
}

a:hover {
    color: red;
}

.splashPage {
    background-color: black;
    margin: 25px, 50px, 100px;
    display: flex;
    flex-direction: column;
}

#nikolasRivera {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    font-size: 100px;
}
#uxDesigner {
    color: white;
    display: flex;
    padding-left: 58%;
    width: 15%;
    font-size: 48px;
    align-items: flex-start;
    justify-content: flex-end;
}

#illustrator {
    color: white;
    display: flex;
    padding-left: 58%;
    font-size: 48px;
    width: 15%;
    align-items: flex-start;
    justify-content: flex-end;
}

#slogan {
    height: 45%;
    width: 50%;
    font-size: 20px;
    color: white;
    float: right;
    display: inline-block;
}

.Logo {
    display: flex;
    height: 200%;
    width: 45%;
    padding: 25px;
    background-color: white;
    justify-content: flex-start;
}

.instagramButton {
    float: right;
    display: block;
    background-color: black;
}

.instagramButton:hover {
    color: red;
}

.linkedinButton {
    background-color: black;
    display: block;
    float: right;
}

.linkedinButton:hover {
    color: red;
}

.behanceButton {
    background-color: black;
    display: block;
    float: right;
}

.behanceButton:hover {
    color: red;
}

.titleAbout {
    font-family: 'Arial Narrow Bold', Impact, sans-serif;
    font-size: 70px;
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

h2 {
    font-family: sans-serif bold;
    font-size: 35px;
    justify-content: flex-end;
}

p {
    font-family: sans-serif;
    font-size: 58px;
}

.aboutMe {
    background-color: white;
}

.content {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}

.profilePicture {
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
}

.mySkills {
    background-color: black;
    margin: 25px, 50px, 75px;
}

.titleSkills {
    color: white;
}

.userResearch1 {
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.userEmpathy1 {
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    outline: red;
}

.qualitativeInterviews1 {
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    outline: red;
}

.userResearch {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: red;
}

.userEmpathy {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: red;
}

.qualitativeInterviews {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    outline: red;
}

.Tools {
    background-color: black;
    margin: 25px, 50px;
}

.adobeCc {
    color: white
}

img [alt~="photoshopImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="indesignImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="illustratorImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="xdImage"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="skillBar1"] {
    margin-left: 0 auto;
    outline: red;
}

.googleSuites {
    color: white;
    outline: red;
}

img [alt~="googleDrive"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleExcel"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleDocs"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleSlides"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="googleForms"] {
    margin-left: 0 auto;
    outline: red;
}

img [alt~="skillBar2"] {
    float: left;
    outline: red;
}

.miro {
    color: white;
    float: right;
    outline: red;
}

img [alt~="skillBar3"] {
    float: right;
    outline: red;
}

.figma {
    color: white;
    float: right;
    outline: red;
}

img [alt~="skillBar4"] {
    float: right;
    outline: red;
}

.procreate {
    color: white;
    float: right;
    outline: red;
}

img [alt~="skillBar5"] {
    float: right;
    outline: red;
}

.Projects {
    background-color: white;
    margin: 25px, 50px,75px;
}

.illustrationsButton {
    display: inline-block;
    float: left;
    margin: 50px;
    background-color: white;
}

.xdButton {
    display: inline-block;
    float: center;
    margin: 50px;
    background-color: white;
}

.charactersButton {
    display: inline-block;
    float: right;
    background-color: white;
    margin-right: 25px;
}

.Contact {
    background-color: black;
    margin: 25px, 50px,75px;
    outline: red;
}

.titleContact {
    color: white;
    outline: red;
}

.name {
    color: gray;
    border-color: white;
    outline: red;
}

.email {
    color: gray;
    border-color: white;
    outline: red;
}

.description {
    color: gray;
    border-color: white;
    outline: red;
}

